
body {
   margin:0;
   padding:0;
   height:100%;
   background:grey;
}


.memberdivform input[type=text]{
	width: 150px;
	margin-left: 40px;
	color: grey;
	font-size: 15px;
	font-style: italic;
}
.getlists li{
	display: inline-block;
	margin:0px;
	padding: 0px;
}

.getlists ul{
	text-align: center;
}

.getlists{
	width:600px;
}
.getlists select{
	display: inline-block;
	margin:0px;
	padding: 0px;
	width:180px;
	height: 150px;
}


div.transform{
	display: inline;
	margin:0px;
	padding: 5px;
}
div.transform ul{
	list-style: none;
	float: left;
	width: 700px;
	padding: 0px;
	margin: 0px;
	padding-left: 5px;
}

div.transform li{
	float: left;
  	width: 220px;
  	margin-left: 0px;
  	padding: 0px;
}

div.transform select{
	margin:0px;
	padding: 0px;
}
div.transform select[multiple=multiple]{
	width:190px;
	height: 150px;
}
div.transform select[id=id_member]{
	width:150px;
	height: 20px;
	margin-left: 40px;
}

div.black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
}

div.white_content{
            display: none;
            position: absolute;
            top: 50%;
            left: 35%;
            width: 310px;
            min-height: 10px;
            padding: 5px;
            margin: 0px;
            border: 4px solid orange;
            background-color: white;
            z-index:1002;
            overflow: auto;
}
div.white_content ul{
	padding: 0px;
	margin: 0px;
}
div.white_content li{
	display: inline-block;
	width: 150px;
	padding: 0px;
	margin: 0px;
}

div.white_content input[type= button]{
	display: inline-block;
	width: 150px;
	padding: 0px;
	margin: 0px;
}div.white_content input[type= text]{
	display: inline-block;
	width: 306px;
	padding: 0px;
	margin: 0px;
}

#addRoleOnMemberForm{
	display: none;
}

#refresh{
	padding:0px;
	margin: 0px;
}

#showcreaterolebut{
	float: middle;
}

div.formname{
	display:inline-block;
	padding: 10px;
	padding-left: 5px;
	padding-bottom: 20px;
}

div.formname h4{
	display:inline-block;
	padding: 0px;
}

div.formname input{
	width:200px;
}
div.formname label{
	padding: 0px;
	margin: 0px;
	display: block; 
    position: relative; 
    top:3em;
    text-align: center;
}

div.othermodel ul{
	text-align: center;
	margin:0px;
	padding: 0px;
}
}
div.othermodel{
	margin:0px;
	padding: 0px;
}

div.othermodel h4{
	margin:0px;
	padding: 0px;
	font-style: bold;
	font-size: 20px;
}



div.othermodel label{
	padding: 0px;
	margin: 0px;
	display: block; 
    position: relative; 
    top:2.3em;
    text-align: center;
}
div.othermodel label[for=id_music]{
	padding: 0px;
	margin: 0px;
	display: block; 
    position: relative; 
    top:0.3em;
    text-align: center;
}

div.othermodel ul input{
	width:300px;
	margin: 0px;
	padding: 0px;
	margin:auto; 
}

div.othermodel select[multiple=multiple]{
	width:300px;
	margin-left: 5px;
	text-align: center;
}

div.formcontact{
	display:inline-block;
	padding: 20px;
	padding-left: 5px;
	padding-bottom: 20px;
	padding-top: 40px;
}

div.formcontact h4{
	display:inline-block;
	text-align: left;
	padding: 0px;
}


div.formcontact input{
	width:200px;
}
div.formcontact label{
	padding: 0px;
	margin: 0px;
	display: block; 
    position: relative; 
    top:3em;
    text-align: center;
}


div.formaddress{
	display:inline-block;
	padding: 5px;
	padding-left: 5px;
}

div.formaddress h4{

}

div.formaddress input{
	width:550px;
}
div.formaddress label{
	padding: 0px;
	margin: 0px;
	display: block; 
    position: relative; 
    top:3em;
    text-align: left;
}

div.formrole{
	display:inline-block;
	padding: 0px;
	padding-left: 5px;
	margin-left: 10px;
	margin: 5px;
	background-color: white;
	width:545px; 
	height: 200px; 
	overflow-y: scroll;
	overflow-x: hidden;
}
div.itemwrapper{
	width: 300px;
	padding: 0px;
	float: left;
	margin-left: 20px;
}
div.itemwrapper h5{
	width: 200px;
	padding: 5px;
	border: 0px;
}


div.transactionitems{
	display:inline-block;
	padding: 0px;
	padding-left: 5px;
	margin-left: 10px;
	margin: 5px;
	background-color: white;
	width:250px; 
	height: 200px; 
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 20px;
}
div.transactionitemsrmrole li{
	float: left;
  	width: 100px;
  	margin-left: 5px;
  	padding: 0px;
}

div.transactionitems ul{
	list-style: none;
	float: left;
	width: 200px;
	padding: 0px;
	margin: 0px;
	padding-left: 0px;

}
div.transactionitems input[type=checkbox] {
	position: relative; 
	right:0.25em;
	bottom:-0.07em;
	width:25px; 
	height:20px;
	display: block;
	float:left;
	padding:0px;
	margin: 0px;
}

div.formrole h4{

}

div.formrole li{
	float: left;
  width: 240px;
  margin-left: 5px;
  padding: 0;
}

div.formrole ul{
	list-style: none;
	float: left;
	width: 500px;
	padding: 0px;
	margin: 0px;
	padding-left: 40px;

}
div.formrole h4{
	margin: 5px;
}

div.formrole input[type=checkbox] {
	position: relative; 
	right:0.25em;
	bottom:-0.07em;
	width:25px; 
	height:20px;
	display: block;
	float:left;
	padding:0px;
	margin: 0px;
}

div.formrole label{
	position: relative; 
	right:2em;
	padding: 0px;
	margin: 0px;
    text-align: left;
    font-size: 20px;
    padding-right: 30px;
}

#role {
	margin: 5px;
}

div.modeldiv{
	width: 85%;
	text-align: left;
	background:#ffb347; /*dat orange doe*/
	padding: 10px;
	margin: 10px;
	border: solid black 2px;

}

div.itemsissued{
	padding-left: 85px;
	border:solid blue 1px;
}

div.modeldiv a{
	display: block;
	text-align: right;
}
div.modeldiv li{
	list-style-type: none;
}

div.modeldiv ul{
	margin: auto;
}


div.subtemplate{
	background: grey;
	width :80%;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid orange 3px;
	overflow: hidden;

}

div.subtemplate h4{
	padding: 0px;
	margin: 0px;
	top:3em;
}

div.subtemplate ul{
	list-style-type: none;
 	font-size: 20px;
 	font-weight: normal;
}

div.subtemplate li{
 	font-size: 20px;
 	font-weight: normal;
}

div.subtemplate input{
	font-size: 20px;
	margin: 0;
	display: block;
}

div.subtemplate input[type='submit']{
	font-size: 20px;
	display: inline-block;
}

div.centerbuttons input[type='submit']{
	float: right;
	font-size: 20px;
	margin: 5px;
}

h3{
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
	text-align: center;
	color:#ffb347;
}

#container {
	width: 1100px;
	min-height:100%;
	position:relative;
	margin: 20px auto;
	text-align: left;
	background: #ffb347;
	min-height:100%;
}

div.top_menu{
	clear: both;
	margin:0px;
	text-align:center;

}
div.top_menu ul{
	position: relative;
	background: #75B4FF;
	margin-bottom: 0px;

	}

div.top_menu ul li{
	list-style-type: none;
	display: inline-block;
	padding: 7px 15px;

}

div.top_menu ul li:hover{
	background-color: #388E8E;
	}
div.top_menu ul li a:hover{
	background-color: #388E8E;
	}

div.top_menu ul li:hover ul{
	display: block;
	background-color: #388E8E;
	}

div.top_menu li a{
	color: #FFFFAA;
	list-style-type: none;
	text-decoration: none;
}

div.top_menu ul ul{
	display: none;
	position: absolute;
	margin-top: 7px;
	margin-left: -15px;
	padding-left: 0px;
	text-align: center;
}

div.top_menu ul ul li{
	display: block;
}

div.top_menu ul ul li a:hover{
	color: yellow;
}

#banner img{
    display: block;
    padding: 0px;
    height: 225px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background:#ffb347;
}

#main_div{
   overflow: hidden;
   background: white;
   min-height: 800px;
}

#main_section{
	float:right;
	width: 800px;
	margin-left: 0px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom:100px;
	background: white;
	border: 5px solid #BBDAFF;
	border-bottom-color: #444;
	border-right-color: #444;
	min-height: 700px;
}

#main_section p{
	color: #333;
	margin: 20px;
	font: normal 14px Tahoma;
}

#main_section ul li{
	font: normal 14px Tahoma;
}

#sidebar{
	float:left;
	background: white;
	width:200px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom:100px;
	border: 5px solid #BBDAFF;
	border-right-color:#444;
	border-bottom-color:#444;
	height:170px;
}

#sidebar li{
	 list-style-type: none;
	 font: normal 16px Tahoma;
	 margin-left: -10px;
	 padding-top:5px;
	 width: 150px;
	 text-align: left;
 }
 
 #sidebar ul{
 	 text-align: center;
	 margin: 10px;
	 width: 100px;
	 margin-top: 0px;
	 padding-top: 0px;
 }

#body {
   padding:10px;
   padding-bottom:80px;   /* Height of the footer */
}
#footer {
text-align: center;
	position: absolute;
	bottom:0;
	width:100%;
	height:80px;   /* Height of the footer */
	background:#6cf;
}

#footer li{
	display: inline-block;
	color: #333;
	padding: 5px 15px;
	font-size: 12px;
	text-align: center;
}

#form {
	text-align: center;

}
#div_form{
	text-align: center;
	overflow: hidden;
	background: grey;
	width: 750px;
	margin-left: auto ;
	margin-right: auto ;
}