{% extends 'template.html' %}
{%block title %} Create {{page_name}} {% endblock%}
{%block header %} Create {{page_name}} {% endblock%}

{% block body_block %}
<div class = "subtemplate">
	<form id ="membercreate" action="" method="POST">

	  		{% csrf_token %}
	  		<div class = "transform">
	  			<ul>
	   			{% for field in transaction_form %}
							{% if field.label == 'Member' %}    
					       	<li>

					       	<div class = "memberdivform">
					       		<h4>Member</h4>
					            {{ field.errors }}
								{{ field }}
								<input id="searchmember" type="text" value="search member"/>
							</div>
							</li>
					    	{% endif %}
					    	
					    	
					    	{% if field.label == 'Date' %}
					    	<li>
					    	<h4>Date</h4>
					    	{{ field.errors }}
							{{ field }}
							</li>
					    	<br/>
							<br/>
							<br/>



							{% endif %}							
					    	
					    	
					    	{% if field.label == 'Instrument' %}
					    	<div class = itemwrapper>
						    	<b>Available Instrument</b>
						    	<div class="transactionitems">
							    	<ul>
							    		<li>
								        {{ field.errors }}
										{{ field }}
								    	</li>
								    </ul>
								</div>
							</div>
					    	{% endif %}

					    	{% if field.label == 'Uniform' %}

					    	<div class = itemwrapper>
						    	<b>Available Uniforms</b>
						    	<div class="transactionitems">

							    	<ul>
								       	<li>
								       	
								            {{ field.errors }}
											{{ field }}
										</li>
									</ul>
								</div>
							</div>
							{% endif %}



							{% if field.label == 'Music pack' %}
							<div class="transactionitems">
						    	<ul>
							       	<li>
							       	<h4>Available Music Packs</h4>
							            {{ field.errors }}
										{{ field }}
							    	</li>
					    		</ul>
							</div>
					    	{% endif %}
				

				{% endfor %}
			</ul>
				</div>
				<div class = "getlists">

					<ul>

						<li> 
							<h4> Instruments Issued <h4>
							<select size = 10 id= "instruments">
								<option>gegege</option>

							</select>
						</li>

						<li>
							<h4> Uniforms Issued <h4>
							<select size= 10 id= "uniforms">
							</select>
						 </li>

					</ul>

				</div>


		<div class="centerbuttons">
		  	<input id="save_contact" type="submit" value="Submit Transaction Form"/>
		</div>

	</form>

</div>

<script>
		//Dynamically fill in fields based on member that is selected
		$(document).on('change', '#id_member', function() {

				// Gets the primary key for the member so it can be sent off
				var member = $( "#id_member option:selected" ).text();
				
				var x = member.indexOf("-");
				var id = member.substring(x+2);

                $.ajax({
                    type: "GET",
                    url:"filltransactionfields",
                    dataType:"json",
                    async: true,
                    data: {
                        member: id,
                    },
                    success: function (models){
                                     var ioptions,uoptions;
                                     for (var i = 0; i < models[0].fields['instrument'].length; i++) {
										ioptions += '<option value="' + models[0].fields['instrument'][i] + '">' + models[0].fields['instrument'][i] + '</option>';
                                        }
                                     for (var i = 0; i < models[0].fields['uniform'].length; i++) {
										uoptions += '<option value="' + models[0].fields['uniform'][i] + '">' + models[0].fields['uniform'][i] + '</option>';
                                        }
                    	$("select#instruments").html(ioptions);
                    	$("select#uniforms").html(uoptions);
                    }
                });
            });
			$('#searchmember').on('click focusin', function() {
		    	this.value = '';
		    	$(document).on('change', '#searchmember', function() {

				// Gets the primary key for the member so it can be sent off
				var memberx = $( "#searchmember").val();
                $.ajax({
                    type: "GET",
                    url:"searchmember",
                    dataType:"json",
                    async: true,
                    data: {
                        member: memberx,
                    },
                    success: function (json){
                        $('#membercreate').load(document.URL + ' #membercreate'); //Refreshes the dropdown box so that the newly created MemberRole can be selected
                    }
                });
            });



			});

</script>

{% endblock %}