{% extends 'template.html' %}
{%block title %} Create {{page_name}} {% endblock%}
{%block header %} Create {{page_name}} {% endblock%}

{% block body_block %}
<div class = "subtemplate">
        
    <div id="fade" class="black_overlay"></div>
	<form id ="membercreate" action="" method="POST">
	  {% csrf_token %}
	  
	  {% if model_url == 'member-add' %}

		    {% for field in member_form %}

				        {% if field.label == 'First name' %}
				        
				        <div class="formname">
				       	<h4>Name</h4>
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    	{% endif %}
				    	{% if field.label == 'Last name' %}
				        <div class="formname">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    	{% endif %}

				    	{% if field.label == 'Address 1' %}
				        <div class="formaddress">
				       	<h4>Address</h4>
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    	{% endif %}
				    	{% if field.label == 'Address 2' %}
				        <div class="formaddress">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    	{% endif %}
				    	{% if field.label == 'ZIP code' %}
				        <div class="formaddress">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				        {% endif %}
				    	{%if field.label == 'City' %}
				        <div class="formaddress">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    	{% endif %}



				    	{% if field.label == 'Role' %}
				    	<h4 id = "role"> Roles</h4>
				    	<div id = "refresh">
							<div class="formrole">
				        	    {{ field.errors }}
				          	  	{{ field }}
				          	  	
					        </div>
				        </div>
				        <input id="showcreaterolebut" type="button" onclick=lightdiv() value="Create New Role"/>
				        {% endif %}



				    	{%if field.label == 'Number' %}
				        <div class="formcontact">
				        <h4>Contact</h4>
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    	{% endif %}
				    	{% if field.label == 'Email' %}
				        <div class="formcontact">

				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				        {% endif %}

			{% endfor %}
					<div id="light" class="white_content">
					        <form onsubmit="return false;">
					        {% csrf_token %}
					         <h3>Please Enter a Name for the new Role </h3>
					         <br>
					         <br>
					        <input id= "role_name" type="text"/>
					         <br>

					        <ul>
					    		<li> <input id="cancelbut" type="button" onclick=closelightdiv() value="Cancel"/> </li>
					    		<li> <input id="addrolebut" type="button" onclick=createit() value="Submit Role"/> </li>
					   		</ul>

					</div>
	  {% else %}
	  <div class ="othermodel">
	 	 <ul>
	   			{% for field in form %}
	   				{% if field.label == 'Music' %}
	   				<br>
	   				<label for="id_music"> Music: </label>
		   				{{ field.errors }}
		   				{{ field }}
	   				{% else %}
	   				      	{{ field.errors }}
				            {{ field.label_tag }} {{ field }}
					{% endif%}

				{% endfor %}
		</ul>
	</div>

	  {% endif %}

		<div class="centerbuttons">
			<br>
		  	<input id="save_contact" type="submit" value="Submit {{page_name}} Form"/>
		</div>
	</form>
</div>

<script>
		//Dynamically create a member role
        function createit(){
                $.ajax({
                    type: "POST",
                    url:"addrole",
                    dataType:"json",
                    async: true,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        rolename: $('#role_name').val(),
                    },
                    success: function (json,rolename){
                        $('#output').html(json.message); // Prints a message to say that the MemberRole object was created
                        $('#refresh').load(document.URL + ' #refresh'); //Refreshes the dropdown box so that the newly created MemberRole can be selected
                        
                       	//Javascript is used here since jquery click function doesnt like dealing with dynamic fields
                       	$('#role_name').val("");
                       	closelightdiv();
                    }
                });
            }
</script>

{% endblock %}