{% extends 'template.html' %}
{%block title %} Create {{page_name}} {% endblock%}
{%block header %} Create {{page_name}} {% endblock%}

{% block body_block %}
<div class = "subtemplate">
        
    <div id="fade" class="black_overlay"></div>
	<form id ="membercreate" action="" method="POST">
	  {% csrf_token %}
	  {% for field in musicpack_form %}

						{% if field.label == 'Music' %}
				    	<h4> Music</h4>
				    	<div id = "refresh">
							<div class="formrole">
				        	    {{ field.errors }}
				          	  	{{ field }}
					        </div>
					        <input id="showcreaterolebut" type="button" onclick=lightdiv() value="Create New Music"/>
				        </div>

				        {% else %}

					        {{ field.errors }}
							{{field.label}}{{ field }}



				        {% endif %}

			{% endfor %}
					<div id="light" class="white_content">
					        <form onsubmit="return false;">
					        {% csrf_token %}
					         <h3>Please Enter a Name for the new Role </h3>
					         <br>
					         <br>
					        <input id= "music_name" type="text"/>
					         <br>

					        <ul>
					    		<li> <input id="cancelbut" type="button" onclick=closelightdiv() value="Cancel"/> </li>
					    		<li> <input id="addrolebut" type="button" onclick=createit() value="Submit Role"/> </li>
					   		</ul>
					</div>

							<div class="centerbuttons">
						  	<input id="save_contact" type="submit" value="Submit Music Pack Form"/>
							</div>
	</form>
</div>

<script>
		//Dynamically create a member role
        function createit(){
                $.ajax({
                    type: "POST",
                    url:"addrole",
                    dataType:"json",
                    async: true,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        musicname: $('#music_name').val(),
                    },
                    success: function (json,musicname){
                        $('#refresh').load(document.URL + ' #refresh'); //Refreshes the dropdown box so that the newly created MemberRole can be selected
                        
                       	//Javascript is used here since jquery click function doesnt like dealing with dynamic fields
                       	$('#music_name').val("");
                       	closelightdiv();
                    }
                });
            }
</script>

{% endblock %}