{% extends 'template.html' %}
{% block title %} View  {{page_name}} {% endblock %}
{% block header %} View {{page_name}}{% endblock %}

{% block body_block %}
<div id = "subtemplate">
	<ul>
		{% if page_name != 'Transactions' %}
			{% for model in object_list %}
			<div class = "modeldiv">
				<!---Link below goes to the models edit page -->
				<a href = {{edit_link}}{{model.id}}>Edit</a>
				<ul>
				{% for name,value in model.get_fields %}
				<li>
					{% if name != 'role' %}
					{% if name != 'id' %}
						<b>{{ name|capfirst }}</b> : {{ value }}
					{% endif %}
					{% endif %}
					{% if name == 'id' %}
						<b>Member Number </b> : {{ value }}
					{% endif %}

				</li>

				{% endfor %}
					{% if page_name == 'Members' %}
					<li> <b>Roles</b>:
					{% for roles in model.role.all %}
					{{roles}}
					{% endfor %}
					</li>
					{% endif %}
				</ul>
			</div>
			{% empty %}
				<li> No objects created yet.</li>
			{% endfor %}
		{% else %}

			{% for model in object_list %}

			<div class = "modeldiv">
				<ul>


				<li> <b>Transaction ID</b>:
				{{model.pk}}
				</li>
				<li> <b>Date</b>:
				{{model.date}}
				</li>					

				<li> <b>Member Issued</b>:
				{{model.member.last_name}}, {{model.member.first_name}} - {{model.member.pk}}
				</li>
				<br>
				<li> <b>Instruments Issued</b>:
				<div class = "itemsissued">
					<ul>
					{% for instrument in model.instrument.all %}
					<li>{{instrument}}</li>
					{% endfor %}
					</ul>
				</div>
				</li>

				<li> <b>Uniforms Issued</b>:
				<div class = "itemsissued">
					<ul>
					{% for uniform in model.uniform.all %}
					<li>{{uniform}}</li>
					{% endfor %}
					</ul>
				</div>
				</li>

				</ul>
			</div>

			{% endfor %}
		{% endif %}
	</ul>
</div>
{% endblock %}