<!---Needed to load images and css file -->
<!---modernizer.js -->
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC>
<html lang = "en">
	<div id = "all_wrapper">
		<head>
			<meta charset="utf-8">
			<title>Woolston brassband database - {% block title %} Template {% endblock %}</title> 
				<link href="{% static "css/default.css"%}" rel="stylesheet" type="/text/css" />
				<script type="text/javascript" src="{% static "scripts/default.js"%}"></script>
				<script type="text/javascript" src="{% static "scripts/jquery-latest.js"%}"></script>
		</head>
		
			<body>
				<div id = "container">
				<div id = "header">
					<div id = "banner">
						<img src="{% static "images/header.jpg"%}" alt = "Banner"/>
					</div>
				</div>

				<div class="top_menu">
					<ul>
						<li><a href={% url "home" %} > Home </a></li>
						<li><a> Members </a>
							<ul>
								<li><a href={% url "member-new" %} > Create Member </a></li>
								<li><a href={% url "member-list" %} > View Members </a></li>
							</ul>
						</li>
						<li><a> Transactions </a>
							<ul>
								<li><a href={% url "transaction-new" %} > Create Transaction </a></li>
								<li><a href={% url "transaction-list" %} > View Transactions </a></li>
							</ul>
						</li>
						<li><a> Music Pack </a>
							<ul>
								<li><a href={% url "musicpack-new" %} > Create Music Pack </a></li>
								<li><a href={% url "musicpack-list" %} > View Music Pack </a></li>
							</ul>
						</li>

						<li><a> Instruments </a>
							<ul>
								<li><a href={% url "instrument-new" %} > Create Instrument </a></li>
								<li><a href={% url "instrument-list" %} > View Instruments </a></li>
							</ul>
						</li>
						<li><a> Uniforms </a>
							<ul>
								<li><a href={% url "uniform-new" %} > Create Uniform </a></li>
								<li><a href={% url "uniform-list" %} > View Uniforms </a></li>
							</ul>
						</li>
					</ul>
				</div>

				<div id= "main_div">
					<div id="main_section">
						<h3> {%block header %} Welcome {% endblock %} </h3>
							{% block body_block %}
							{% endblock %}

					</div>
						
					<div id = "sidebar">
						<h3> Index </h3>
							<ul>
								<li><a href = {% url "transaction-list" %}>View Transactions</a></li>
								<li><a href = {% url "member-list" %}>View Members</a></li>
								<li><a href = {% url "musicpack-list" %}>View Music Packs</a></li>
								<li><a href = {% url "uniform-list" %}>View Unifroms</a></li>
							</ul>
					</div>
					
				</div>		
				
				<div id="footer">
						<ul>
							<li>© 2014 Woolston Brass</li>
						</ul>
				</div>
				<div style="clear: both;"></div>
			</div>
		</body>
</html>
